body {
    background-color:powderblue;
    font-weight: bold;
    }

h1 {
    text-align: center;
    color: black;
}
h2 {
    text-align: center;
    color:  blue;
}

h3 {
    text-align: center;
    color:  blue;
}

p {
    text-align: center;
    color: black;    
}

div {
    text-align: center;
    color: black;        
}

label{
    display: inline-block;
    
}

input[type='submit'],
label{
    margin-top:  1rem;
}

table, th, td {
    border: 1px solid black;
  }

body{
    max-width: 700px;
    margin: auto;  
    color: black;        
    border-width: medium 5px thick 5px;
    border-style: solid; 
    padding: 25px 25px 25px 25px;
    display: block;
}

#select_item{
    background-color: lightblue;
    color: black;        
    border-width: medium 5px thick 5px;
    border-style: solid; 
    padding: 25px 25px 25px 7050pxpx;
    display: block;
}

#create_request{
    background-color: lightblue;
    color: black;        
    border-width: medium 5px thick 5px;
    border-style: solid; 
    padding: 25px 25px 25px 25px;
    display: block;
}

#select_div{
    left: 550px;
    align-self: center;
    text-align: center;
    align-content: center;

}

  font.asterisk {
    color: red;
   
  }
  
  #select_for_search_req{
    background-color: lightblue;
    color: black;        
    border-width: medium 5px thick 5px;
    border-style: solid; 
    padding: 25px 25px 25px 25px;
    display: block;
}
