h1 {
    text-align: center;
    color: black;
}
h2 {
    text-align: center;
    color:  blue;
}

h3 {
    text-align: center;
    color:  blue;
}

p {
    text-align: center;
    color: black;    
}

div {
    text-align: center;
    color: black;    
}

label{
    display: block;
    
}

input[type='submit'],
label{
    margin-top:  1rem;
}

