h1 {
    text-align: center;
    color: black;
}
h2 {
    text-align: center;
    color:  blue;
}

h3 {
    text-align: center;
    color:  blue;
}

p {
    text-align: center;
    color: black;    
}

div {
    text-align: center;
    color: black;    
}

label{
    display: block;
    
}

input[type='submit'],
label{
    margin-top:  1rem;
}

div.container {
    border-width: medium 5px thick 5px;
    border-style: solid;
    padding: 35px 70px 40px 80px;
    display: block;

}

